@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.container {
  width: 374px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.header-list-icons {
  display: flex;
}

.header-list-button {
  border: 0;
  outline: none;
  background-color: transparent;
}

.list-icon-frame {
  width: 24px;
  height: 24px;
  fill: white;
  margin-right: 29px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.list-icon-menu {
  width: 24px;
  height: 24px;
  fill: white;
}

.header-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 20.8413px;
  line-height: 80.5%;
  /* or 17px */
  letter-spacing: 0.274228px;
  text-transform: uppercase;
  width: 111px;
  margin: 0;
  color: white;
}

.header-logo-svg {
  height: 42px;
  width: 42px;
}

.flex {
  display: flex;
  align-items: center;
}

header {
  padding-top: 58px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-logo-svg {
  fill: white;
}

.hero-start-title {
  /* Explore Indonesia */
  width: 314px;
  left: 30px;
  top: 153px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 58.1515px;
  line-height: 63px;
  /* or 108% */
  text-transform: uppercase;
  color: white;
}

.hero-start-button {
  width: 315px;
  height: 59px;
  /* Автолейаут */
  padding: 10.2px;
  border-radius: 107.63px;
  background: rgb(221, 34, 66);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}

.hero-list {
  box-sizing: border-box;
  background: rgb(0, 0, 0);
  opacity: 0.8;
  padding-left: 32px;
  padding-right: 72px;
  padding-bottom: 30px;
  padding-top: 37px;
  color: #ffffff;
}

.hero-list-li:not(:last-child) {
  margin-bottom: 32px;
}

.hero-number {
  color: rgb(221, 34, 66);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.hero-title {
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-size: 26.41px;
  font-weight: 700;
  line-height: 41.08px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 5px;
}

.hero-text {
  color: rgb(147, 147, 147);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

.hero-start {
  background-color: green;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../assets/img/heroback1xphn.webp);
  padding-top: 153px;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-start {
    background-image: url("./../../assets/img/heroback2xphn.webp");
  }
}

.hero-img-video {
  width: 314px;
  height: 191px;
}

.articles {
  padding-top: 40px;
  padding-bottom: 87px;
  background-color: #010a20;
}

.articles-img {
  width: 314px;
  height: 232px;
  margin-bottom: 33px;
}

.articles-list {
  padding: 0;
}

.articles-title {
  /* Mobile H1 */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 48px;
  /* or 115% */
  color: #ffffff;
}

.articles-text {
  /* Mobile Paragraph 1 */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.5px;
  /* Text Lighten */
  color: #e0e0e0;
}

.articles-button {
  margin-top: 37px;
  width: 314px;
  height: 72px;
  padding: 16px 24px;
  gap: 24px;
  background: #dd2242;
  border-radius: 32px;
  /* Learn More */
  /* CTA */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  text-align: center;
  /* Neutral / White */
  color: #ffffff;
}

.articles-list-li:not(:last-child) {
  margin-bottom: 56px;
}

.secrets {
  background-image: url("../../assets/img/secretback1xphn.webp");
  padding-top: 35px;
  padding-bottom: 780px;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .secrets {
    background-image: url("./../../assets/img/secretback2xphn.webp");
  }
}

.secrets-title {
  width: 314px;
  height: 112px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(1, 10, 32);
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
}

.secrets-svg {
  /* Union */
  width: 12px;
  height: 19.55px;
  fill: rgb(2, 11, 32);
}

.secrets-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.left {
  margin-right: 11px;
}

.right {
  margin-left: 11px;
}

.secrets-img-2 {
  display: block;
  margin: 0 auto;
  margin-top: 16px;
}

.numbers {
  padding-top: 72px;
  padding-bottom: 69px;
  background-color: #010a20;
}

.numbers-title {
  /* Mobile H1 */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  /* or 115% */
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding-left: 75px;
}

.numbers-text {
  /* Mobile Paragraph 1 */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  letter-spacing: 0.5px;
  /* Text Lighten */
  color: #e0e0e0;
}

.numbers-numeric {
  /* Mobile H1 */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  /* or 115% */
  text-align: center;
  color: #dd2242;
}

.numbers-list {
  padding: 0;
}

.map {
  background-image: url("../../assets/img/maskgroup1.webp"), url("../../assets/img/maskgroup2.webp");
  background-repeat: no-repeat, no-repeat;
  background-position: top center, bottom center;
  background-size: contain, contain;
  padding-top: 240px;
  padding-bottom: 116px;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .map {
    background-image: url("./../../assets/img/mgroupf2x.webp"), url(../../assets/img/mgroups2x.webp);
  }
}

.map-title {
  /* Mobile H1 */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  /* or 115% */
  text-align: center;
  color: #000000;
}

.map-text {
  /* Mobile Paragraph 1 */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  letter-spacing: 0.5px;
  /* Paragraph Dark */
  color: #6f7787;
}

.map-button {
  margin-top: 37px;
  width: 314px;
  height: 72px;
  padding: 16px 24px;
  gap: 24px;
  background: #dd2242;
  border-radius: 32px;
  /* Learn More */
  /* CTA */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  text-align: center;
  /* Neutral / White */
  color: #ffffff;
}

.videos {
  background-image: url("../../assets/img/videosback1xphn.webp");
  padding-top: 83px;
  padding-bottom: 20px;
  background-color: #010a20;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .videos {
    background-image: url("./../../assets/img/videosback2xphn.webp");
  }
}

.videos-list {
  padding: 0;
}

.videos-title {
  /* Mobile H1 */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  /* or 115% */
  text-align: center;
  /* Colors / White */
  color: #ffffff;
}

.videos-list-mini-title {
  margin-top: 40px;
  /* Mobile H2 */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */
  text-align: center;
  /* Colors / White */
  color: #ffffff;
}

.videos-list-text {
  margin-bottom: 40px;
  /* Mobile Paragraph 1 */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  letter-spacing: 0.5px;
  /* Colors / White */
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.videos-list-li:not(:last-child) {
  margin-top: 40px;
}

.gallery {
  padding-top: 32px;
  padding-bottom: 40px;
}

.gallery-title {
  /* Mobile H1 */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  /* or 115% */
  display: flex;
  align-items: center;
  text-align: center;
  /* Blue - Background */
  color: #010a20;
  padding-left: 38px;
  margin-bottom: 20px;
}

.gallery-text {
  /* Mobile Paragraph 1 */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  letter-spacing: 0.5px;
  /* Paragraph Dark */
  color: #6f7787;
  margin-bottom: 37px;
}

.gallery-list {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 16px;
       column-gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.gallery-list-li {
  margin-bottom: 16px;
}

.gallery-photo {
  width: 100%;
  display: block;
  border-radius: 12px;
}

.getting {
  background-color: #dce8f2;
  padding-top: 69px;
  padding-bottom: 73px;
}

.getting-title {
  /* Mobile H1 */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  /* identical to box height, or 115% */
  text-align: center;
  color: #010a20;
}

.getting-circle {
  margin-top: 32px;
  width: 56px;
  height: 56px;
  background-color: #dd2242;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  font-weight: 400;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.getting-list {
  padding: 0;
}

.getting-list-mini-title {
  /* Mobile H2 */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 33px */
  text-align: center;
  /* Blue - Background */
  color: #010a20;
}

.getting-list-text {
  /* Mobile Paragraph 1 */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  letter-spacing: 0.5px;
  /* Light Text */
  color: rgba(21, 20, 57, 0.4);
}

.getting-list-link {
  /* Mobile Paragraph 1 */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  letter-spacing: 0.5px;
  padding-left: 115px;
  /* Main Red */
  color: #dd2242;
}

.getting-circle-up {
  width: 104px;
  height: 104px;
  background-color: #dd2242;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  font-weight: 400;
  position: relative;
  bottom: -125%;
  left: 50%;
  transform: translate(-50%, 125%);
  text-align: center;
}

.getting-svg {
  width: 38px;
  height: 21px;
  fill: white;
}

.ppp {
  margin-top: 32px;
  margin-bottom: 40px;
}

footer {
  background-color: #010a20;
  padding-top: 146px;
  padding-bottom: 83px;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 23.9606px;
  line-height: 90.5%;
  /* or 17px */
  letter-spacing: 0.274228px;
  text-transform: uppercase;
  width: 128px;
  margin: 0;
}

.footer-logo-svg {
  height: 42px;
  width: 42px;
}

.footer-logo-svg {
  fill: #ffffff;
}

.explore-span {
  color: #dd2242;
}

.indonesia-span {
  color: #ffffff;
}

.footer-nav-list-li {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22.9432px;
  line-height: 36px;
  /* identical to box height, or 156% */
  letter-spacing: 0.637311px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.footer-nav-list-li {
  margin-top: 36px;
}

.footer-nav-link {
  color: #ffffff;
}

.footer-nav-list {
  text-align: center;
  padding: 0;
}

.footer-list-svg {
  width: 31px;
  height: 31px;
  fill: white;
}

.footer-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 36px;
}

.footer-list-li:not(:last-child) {
  margin-right: 48px;
}

.footer-list-text {
  margin-top: 36px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 23.2405px;
  line-height: 36px;
  /* identical to box height, or 156% */
  letter-spacing: 0.64557px;
  /* Main / White */
  color: #ffffff;
  justify-content: center;
  text-align: center;
}