.header-list-icons {
  display: flex;
}

.header-list-button {
  border: 0;
  outline: none;
  background-color: #ffffff;
}

.list-icon-frame {
  width: 24px;
  height: 24px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.list-icon-menu {
  width: 24px;
  height: 24px;
}

.header-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 20.8413px;
  line-height: 80.5%;
  /* or 17px */
  letter-spacing: 0.274228px;
  text-transform: uppercase;
  width: 111px;
  margin: 0;
}

.header-logo-svg {
  height: 42px;
  width: 42px;
}

.flex {
  display: flex;
  align-items: center;
}

header {
  padding-top: 58px;
}
