.secrets {
  background-image: url("../../assets/img/secretback1xphn.webp");
  padding-top: 35px;
  padding-bottom: 780px;
  background-size: cover;
  background-repeat: no-repeat;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("./../../assets/img/secretback2xphn.webp");
  }
  @media screen and (min-width: 1200px) {
    padding-top: 127px;
    padding-bottom: 886px;
    background-image: url("../../assets/img/unsplash.jpg");
  }
}
.secrets-title {
  width: 314px;
  // display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(1, 10, 32, 1);
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 33px;
  @media screen and (min-width: 1200px) {
    width: 615px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 150%;
    margin: 0 auto;
    /* Blue - Background */
    color: #010a20;
    margin-bottom: 45px;
  }
}
.secrets-svg {
  /* Union */
  width: 12px;
  height: 19.55px;
  fill: rgba(2, 11, 32, 1);
}
.secrets-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}
.left {
  margin-right: 11px;
}
.right {
  margin-left: 11px;
}
.secrets-img-2 {
  display: block;
  margin: 0 auto;
  margin-top: 16px;
}

.pop {
  @media screen and (min-width: 1300px) {
    display: none;
  }
}

.secrimg {
  @media screen and (max-width: 1299px) {
    display: none;
  }
  @media screen and (min-width: 1300px) {
    width: 405px;
    height: 257px;
    display: block;
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.secrets-list-li {
  @media screen and (min-width: 1300px) {
    display: flex;
  }
}
