.videos {
  background-image: url("../../assets/img/videosback1xphn.webp");
  padding-top: 83px;
  padding-bottom: 20px;
  background-color: #010a20;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("./../../assets/img/videosback2xphn.webp");
  }
}

.videos-list {
  padding: 0;
}

.videos-title {
  /* Mobile H1 */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  /* or 115% */
  text-align: center;

  /* Colors / White */
  color: #ffffff;
}

.videos-list-mini-title {
  margin-top: 40px;
  /* Mobile H2 */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */
  text-align: center;

  /* Colors / White */
  color: #ffffff;
}

.videos-list-text {
  margin-bottom: 40px;
  /* Mobile Paragraph 1 */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  letter-spacing: 0.5px;

  /* Colors / White */
  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.7;
}

.videos-list-li:not(:last-child) {
  margin-top: 40px;
}
